.mainFooter {
  width: 375px;
  margin: auto;
  background-color: $veryDarkBlue;
  padding: 0;
  .form {
    position: relative;
    .inputFooterDiv {
      margin: 30px 20px;
      display: flex;
      justify-content: space-between;
      input {
        width: 240px;
        border: none;
        border-radius: 20px;
        background-color: white;
        padding: 12px 25px;
        font-size: 13px;
        &:focus {
          outline: none;
        }
      }
      button {
        border: none;
        background-color: $brightRed;
        padding: 12px 30px;
        border-radius: 20px;
        color: white;
        font-size: 13px;
        transition: .2s;
        text-transform: uppercase;
        &:hover {
          background-color: #e6846b;
        }
      }
    }
    .errorEmail {
      color: red;
      font-size: 11px;
      font-style: italic;
      position: absolute;
      top: 47px;
      left: 40px;
      display: none;
      p {
        margin: 0;
      }
    }
  }
  .navFooter {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    .firstFooterNav, .secondFooterNav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            letter-spacing: 1px;
            transition: .3s;
            &:hover {
              color: $brightRed;
            }
          }
        }
      }
    }
  }
  .iconsLogoFooter {
    .iconsFooter {
      padding: 10px 30px;
      display: flex;
      justify-content: space-between;
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
          filter: brightness(0) saturate(100%) invert(47%) sepia(18%) saturate(5968%) hue-rotate(339deg) brightness(99%) contrast(91%);
        }
      }
    }
    .logoFooter {
      padding: 30px 0;
      text-align: center;
    }
  }
  .copyrightDiv {
    text-align: center;
    width: 300px;
    margin: auto;
    p {
      color: $darkGrayishBlue;
      font-size: 13px;
      margin: 0;
      padding: 20px 0 30px;
    }
  }
}
.codedBy {
  width: 375px;
  background-color: $veryDarkBlue;
  color: $darkGrayishBlue;
  text-align: center;
  font-size: 11px;
  margin: auto;
  padding-top: 30px;
}



// MEDIA QUERY

@media (min-width: 1440px) {
  .mainFooter {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    padding: 50px 200px;
    .form {
      width: 320px;
      .inputFooterDiv {
        margin: 30px 10px;
        input {
          width: 205px;
        }
      }
      .errorEmail {
        top: 80px;
      }
    }
    .navFooter {
      width: 400px;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
    }
    .iconsLogoFooter {
      width: 270px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding-top: 30px;
      .iconsFooter {
        padding: 0 100px 0 0;
        margin-top: 60px;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .logoFooter {
        padding: 0;
        text-align: left;
        img {
          width: 160px;
        }
      }
    }
    .copyrightDiv {
      text-align: right;
      position: absolute;
      top: 160px;
    }
  }
  .codedBy {
    width: 100%;
  }
}
