.mainHeader {
  width: 375px;
  margin: auto;
  margin-top: 30px;
  .container-fluid {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .btnHamburgerMenu {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 5px;
  }
  .hamburgerMenu {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px;
    position: absolute;
    top: 60px;
    width: 350px;
    a {
      font-weight: bold;
      line-height: 2;
      color: $darkBlue !important;
    }
  }
  .headerBtn {
    display: none;
  }
}
